<nav class="col-md-2 d-none d-md-block sidebar px-0">
    <div class="py-3 px-3 mb-3 border-bottom border-secondary text-center fs-2">
        <a class="text-decoration-none text-white" href="/dashboard">
            <i class="bi bi-box-seam me-2"></i>InvPro
        </a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link active"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/products" class="nav-link"><i class="bi bi-box me-2"></i> Products</a>
        </li>
        <li class="nav-item">
            <a href="/categories" class="nav-link"><i class="bi bi-tags me-2"></i> Categories</a>
        </li>
        <li class="nav-item">
            <a href="/suppliers" class="nav-link"><i class="bi bi-truck me-2"></i> Suppliers</a>
        </li>
        <li class="nav-item">
            <a href="/orders" class="nav-link"><i class="bi bi-cart-check me-2"></i> Orders/Sales</a>
        </li>
        <li class="nav-item">
            <a href="/payments" class="nav-link"><i class="bi bi-wallet2 me-2"></i> Payment Due</a>
        </li>
        <li class="nav-item">
            <a href="/purchases" class="nav-link"><i class="bi bi-wallet2 me-2"></i> Purchases</a>
        </li>
        <li class="nav-item mt-4">
            <form action="/logout" method="POST" class="px-3">
                <button type="submit" class="btn btn-danger w-100 fw-bold">
                    <i class="bi bi-box-arrow-left"></i> Logout
                </button>
            </form>
        </li>
    </ul>
</nav>